html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.headerr {
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
}

.navbar-brand {
  text-decoration: none;
  color: #fff5e1;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem 3rem;
}

.navbar-list-item {
  list-style: none;
}

.navbar-list-item a {
  color: #fff;
}

.header {
  background-color: #1c1a19;
  padding: 12rem 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-position: 100% 116%;
}

.header-text {
  font-family: "Crete Round", serif;
  font-size: 56px;
  color: #ff6b00;
  font-weight: 400;
}

.header-text span {
  display: block;
}

.body-text-header {
  color: #fff5e1;
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Roboto", serif;
}

.body-text-main {
  color: #fff;
  font-family: 'Poppins', serif;
  font-size: 16px;
  line-height: 24px;
}

.portfolio-social {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  list-style: none;
  color: #dbd8d7;
  font-size: 20px;
  margin-left: 2rem;
}

.portfolio-social a {
  color: #dbd8d7;
}

.portfolio-img {
  position: absolute;
  bottom: -4rem;
  right: 0;
}

.project {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.underlined {
  border-bottom: 1px solid #212121;
}

.projects-heading1 h3 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  color: #fff;
  text-align: left;
  font-weight: 400;
  margin-top: 5rem;
  margin-left: 1rem;
}

.project .underlined {
  color: #1d1a19;
  font-size: 40px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  margin: 3rem 0;
  text-align: center;
  padding: 2rem;
}

.project-heading {
  font-family: "Crete Round", serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
}

.project-item-img {
  width: 100%;
}

.project-item-img img {
  width: 100%;
  object-fit: cover;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.project-disc {
  margin-top: 2.4rem;
}

.project-disc-main {
  color: #091e42;
  font-family: 'Inter', serif;
  font-size: 16px;
  line-height: 24px;
}

.project-btns {
  display: flex;
  gap: 15px;
  list-style: none;
}

.project-btns-list {
  font-weight: 500;
  font-size: 15px;
  padding: 1rem;
  margin: 1rem 0;
  border: 0.1rem solid #8993a4;
  background: #fff;
  color: #091e42;
  font-family: "Inter", serif;
}

.project-btn {
  padding: 1rem 2rem;
  background-color: #ff6b00;
  color: #fff;
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 2.4rem;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}

.project-btn:hover {
  background-color: rgb(231, 220, 175);
  transform: translateY(3px);
}

.project-btn:active {
  background-color: #ee3100;
  transform: translateY(1px);
}

.project-btn:disabled {
  background-color: rgb(172, 170, 170);
}

.projects-primary {
  background-image: url("./img/art1.png");
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
}

.projects-heading1 span {
  display: block;
}

.projects-disc1 {
  font-family: 'Inter', serif;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-left: 1rem;
}

.project1-bttns {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  list-style: none;
}

.project1-btns {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.24);
  border: none;
  color: #fff;
  font-family: 'Inter', serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

.project1-btn {
  background-color: #ff6b00;
  width: 100%;
  height: 10vw;
  font-family: "Inter", serif;
  font-weight: 700;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease-in;
}

.project1-btn:hover {
  background-color: rgb(231, 220, 175);
  transform: translateY(3px);
}

.project1-btn:active {
  background-color: #ee3100;
  transform: translateY(1px);
}

.project1-btn:disabled {
  background-color: rgb(172, 170, 170);
}

.about {
  margin-top: 10rem;
  padding: 5rem 2rem 2rem 2rem;
  background-color: #1c1a19;
  position: relative;
  background-image: url("./img/about-bg.png");
  background-repeat: no-repeat;
  background-position: 100% 90%;
}

.about-heading {
  margin-top: 4rem;
  font-size: 72px;
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

.about-disc {
  font-family: 'Inter', serif;
  font-size: 16px;
  color: #f4f5f7;
  margin-bottom: 2rem;
}

.about-btn {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  font-size: 17px;
  font-family: 'Inter', serif;
  font-weight: 700;
  padding: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s all;
}

.about-btn:hover {
  background-color: rgb(231, 220, 175);
  transform: translateY(3px);
}

.about-btn:active {
  background-color: #ee3100;
  transform: translateY(1px);
}

.about-btn:disabled {
  background-color: rgb(172, 170, 170);
}

.about-line {
  height: 1px;
  width: 100%;
  margin-top: 20rem;
  background-color: #fff;
}

.qualification {
  padding: 4rem 2rem;
  background-color: #1c1a19;
}

.qualification-type {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qualification-heading {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
}

.qualification-heading i {
  color: #ff6b00;
  font-size: 18px;
  margin-right: 1rem;
}

.qualification-list {
  list-style: none;
  font-family: 'Inter', serif;
  font-weight: 400;
  gap: 20px;
  color: #fff;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.qualification-item {
  margin-bottom: 1rem;
}
